.azul{
	background-color: white;
	width: 100%;
	color: black;
	/*height: auto;*/
}
.titulo{
  background: linear-gradient(to right,#0FFF00,#0169FF,#FF01FF,#FF0901);
  -webkit-background-clip: text;
  color: transparent;  
  font-weight: bold;
}
.text-boton{
	color: white;
    -webkit-background-clip: text;
}
.boton{
	cursor: pointer;
	display: inline-block;
	font-size: 0.6em;
	font-weight: bold;
	height: calc(4.75em + 2px);
	letter-spacing: 0.25em;
	line-height: 4.75em;
	padding: 0 3.75em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	border-radius: 25px;
    -moz-box-shadow: 0px 10px 14px -7px #ad07ad;
	-webkit-box-shadow: 0px 10px 14px -7px #ad07ad;
	box-shadow: 0px 10px 14px -7px #ad07ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff8fff), color-stop(1, #964b96));
	background:-moz-linear-gradient(top, #ff8fff 5%, #964b96 100%);
	background:-webkit-linear-gradient(top, #ff8fff 5%, #964b96 100%);
	background:-o-linear-gradient(top, #ff8fff 5%, #964b96 100%);
	background:-ms-linear-gradient(top, #ff8fff 5%, #964b96 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8fff', endColorstr='#964b96',GradientType=0);
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	text-decoration:none;
	color:#800780;
	
}

.boton:hover{ 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #964b96), color-stop(1, #ff8fff));
	background:-moz-linear-gradient(top, #964b96 5%, #ff8fff 100%);
	background:-webkit-linear-gradient(top, #964b96 5%, #ff8fff 100%);
	background:-o-linear-gradient(top, #964b96 5%, #ff8fff 100%);
	background:-ms-linear-gradient(top, #964b96 5%, #ff8fff 100%);
	background:linear-gradient(to bottom, #964b96 5%, #ff8fff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#964b96', endColorstr='#ff8fff',GradientType=0);
	background-color:#964b96;
}

.cuadro {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	border-radius: 0.25em;
	background: white;
	margin: 0 0 2em 0;
	-webkit-box-shadow: 6px 6px 34px -8px rgba(0,0,0,0.4);
	-moz-box-shadow: 6px 6px 34px -8px rgba(0,0,0,0.4);
	box-shadow: 6px 6px 34px -8px rgba(0,0,0,0.4);
}

.cuadro section {
	padding: 3.5em 3em 1em 7em ;
	width: 100%;
	border-top: solid 1px rgba(255, 255, 255, 0.15);
	position: relative;
}

.cuadro section:nth-child(-n + 2) {
	border-top-width: 0;
}

.cuadro section:nth-child(2n) {
	border-left: solid 1px rgba(255, 255, 255, 0.15);
}

.cuadro section .icon {
	-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
	-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease;
	transition: opacity 0.5s ease, transform 0.5s ease;
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	position: absolute;
	left: 3em;
	top: 3em;
	opacity: 1;
}

.cuadro section:nth-child(1) .icon {
	-moz-transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	-ms-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cuadro section:nth-child(2) .icon {
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.cuadro section:nth-child(3) .icon {
	-moz-transition-delay: 0.45s;
	-webkit-transition-delay: 0.45s;
	-ms-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.cuadro section:nth-child(4) .icon {
	-moz-transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.cuadro section:nth-child(5) .icon {
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
}

.cuadro section:nth-child(6) .icon {
	-moz-transition-delay: 0.9s;
	-webkit-transition-delay: 0.9s;
	-ms-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

.cuadro section:nth-child(7) .icon {
	-moz-transition-delay: 1.05s;
	-webkit-transition-delay: 1.05s;
	-ms-transition-delay: 1.05s;
	transition-delay: 1.05s;
}

.cuadro section:nth-child(8) .icon {
	-moz-transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
	transition-delay: 1.2s;
}

.cuadro section:nth-child(9) .icon {
	-moz-transition-delay: 1.35s;
	-webkit-transition-delay: 1.35s;
	-ms-transition-delay: 1.35s;
	transition-delay: 1.35s;
}

.cuadro section:nth-child(10) .icon {
	-moz-transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
	-ms-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

.cuadro section:nth-child(11) .icon {
	-moz-transition-delay: 1.65s;
	-webkit-transition-delay: 1.65s;
	-ms-transition-delay: 1.65s;
	transition-delay: 1.65s;
}

.cuadro section:nth-child(12) .icon {
	-moz-transition-delay: 1.8s;
	-webkit-transition-delay: 1.8s;
	-ms-transition-delay: 1.8s;
	transition-delay: 1.8s;
}

.cuadro section:nth-child(13) .icon {
	-moz-transition-delay: 1.95s;
	-webkit-transition-delay: 1.95s;
	-ms-transition-delay: 1.95s;
	transition-delay: 1.95s;
}

.cuadro section:nth-child(14) .icon {
	-moz-transition-delay: 2.1s;
	-webkit-transition-delay: 2.1s;
	-ms-transition-delay: 2.1s;
	transition-delay: 2.1s;
}

.cuadro section:nth-child(15) .icon {
	-moz-transition-delay: 2.25s;
	-webkit-transition-delay: 2.25s;
	-ms-transition-delay: 2.25s;
	transition-delay: 2.25s;
}

.cuadro section:nth-child(16) .icon {
	-moz-transition-delay: 2.4s;
	-webkit-transition-delay: 2.4s;
	-ms-transition-delay: 2.4s;
	transition-delay: 2.4s;
}

.cuadro section:nth-child(17) .icon {
	-moz-transition-delay: 2.55s;
	-webkit-transition-delay: 2.55s;
	-ms-transition-delay: 2.55s;
	transition-delay: 2.55s;
}

.cuadro section:nth-child(18) .icon {
	-moz-transition-delay: 2.7s;
	-webkit-transition-delay: 2.7s;
	-ms-transition-delay: 2.7s;
	transition-delay: 2.7s;
}

.cuadro section:nth-child(19) .icon {
	-moz-transition-delay: 2.85s;
	-webkit-transition-delay: 2.85s;
	-ms-transition-delay: 2.85s;
	transition-delay: 2.85s;
}

.cuadro section:nth-child(20) .icon {
	-moz-transition-delay: 3s;
	-webkit-transition-delay: 3s;
	-ms-transition-delay: 3s;
	transition-delay: 3s;
}

.cuadro.inactive section .icon {
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

@media screen and (max-width: 980px) {

	.cuadro {
		display: block;
	}

		.cuadro section {
			border-top-width: 1px !important;
			border-left-width: 0 !important;
			width: 100%;
		}

			.cuadro section:first-child {
				border-top-width: 0 !important;
			}

}

@media screen and (max-width: 736px) {

	.cuadro section {
		padding: 2.5em 1.5em 0.1em 5.5em ;
	}

		.cuadro section .icon {
			left: 1.5em;
			top: 2em;
		}

}

@media screen and (max-width: 480px) {

	.cuadro section {
		padding: 2em 1.5em 0.1em 1.5em ;
	}

		.cuadro section .icon {
			left: 0;
			position: relative;
			top: 0;
		}

}


/*formulario modal*/

.btn-form{
	width: 150px; 
	/*height: 15px; */
	/*background-color: pink;*/
	/*border-radius: 0;*/
}
#cantidad1{
	text-align: center; 
	width: 150px;
	color: black;
	background-color: white;
	-webkit-box-shadow: 6px 6px 34px -8px rgba(0,0,0,0.4);
	-moz-box-shadow: 6px 6px 34px -8px rgba(0,0,0,0.4);
	box-shadow: 6px 6px 34px -8px rgba(0,0,0,0.4);
}